
*{

    margin: 0;

    padding: 0;

}






/* Changing color for the background of the header */
header {

    padding: 20px 35px;

    background-color: #39a6b2;

}

header h1 {

    font-weight: bold;

    font-size: 36px;

    color: #fce138;

    margin: 0;

    display: inline;
}

/* pushed nav to the far right of the website and adjusted margin */
header nav {

    float: right;

    margin: 7px 0;

}

/* placed all content side by side */
header nav ul li {

    display: inline;

}

/* Spaced out different elments from each other */
header nav ul li a {

    margin: 0 30px;

    font-weight: lighter;

    font-size: 22px;

} 

/* Changed how h1 looks */
header h1 {

    font-weight: bold;

    font-size: 36px;

    color: #fce138;

    margin: 0;

}
/* Changed color of links */
header a {

    text-decoration: none;

    color: #fce138;

}

/* chaging color background of webpage */
body {

    color: #39a6b2;

    font-family: Helvetica, Arial, sans-serif

}